{% extends "extra/base.html" %}

{% block content %}
<div class="activity-stream">
  <div class="activity">
    <div class="activity-body">
      <span class="actor">Jonathan</span> <span class="verb">plays</span> <span>Everwing</span>
    </div>
    <div class="activity-footer">
      <span class="published">A few moments ago...</span>
    </div>
  </div>
  <div class="activity">
    <div class="activity-body">
      <span class="actor">Kevin</span> <span class="verb">mentions</span> <span>Emmanuel</span> on <span>Bose Unboxing</span>
    </div>
    <div class="activity-footer">
      <span class="published">A few moments ago...</span>
    </div>
  </div>
  <div class="activity">
    <div class="activity-body">
      <span class="actor">Wendy</span> <span class="verb">added</span> <span>Your Universe</span> on <span>playlist</span>
    </div>
    <div class="activity-footer">
      <span class="published">A few moments ago...</span>
    </div>
  </div>
</div>
{% endblock %}
